firmware/ButtonsModule/IWAST_STEM.X/build/*
firmware/ButtonsModule/IWAST_STEM.X/dist/*

firmware/*/iwast01.X/build/*
firmware/*/iwast01.X/dist/*
firmware/*/iwast01.X/nbproject/*
firmware/*/iwast01.X/Makefile

firmware/iwast01.X/build/*
firmware/iwast01.X/dist/*

firmware/Power_Module/dist/*
firmware/Power_Module/debug/*
firmware/Power_Module/build/*

