firmware/soft-iot-v2.X/build/*
firmware/soft-iot-v2.X/debug/*
firmware/soft-iot-v2.X/dist/*
firmware/soft-iot-v2.X/nbproject/*
firmware/soft-iot-v2.X/device_config.mc3
firmware/soft-iot-v2.X/Makefile

